html {
  font-size: 16px;
}

div {
  /* width: 100px;
  height: 100px; */
  /* background-color: orange; */
}

span {
  /* background-color: orange; */
}

.parent {
  width: 300px; /*기본값 auto*/
  height: 200px;
  background-color: royalblue;
  /* overflow: auto; */
  overflow: scroll;
  padding: 10px;
}

.child {
  /* width: 100%; */
  /* width: 20em;  */
  /* 16 * 20 = 320px */
  width: 600px;
  height: 100px;
  /* height: 100vh; */
  background-color: rgb(255, 0, 200);
}

.container {
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  /* margin-bottom: -20px; */
  margin-bottom: 20px;

  padding: 20px;
  /* border: 선-두께 선-종류 선-색상 */
}

.container .item:first-child {
  border: 10px solid tan;
}

.container .item:last-child {
  border: 10px dashed royalblue;
  /* border만큼 크기 커진다는 것 주의 */
  border-radius: 0 20px 0 0;
  /* 왼쪽 상단부터 시계방향으로 도는 구조 */
}

.container .item:nth-child(2) {
  border-radius: 10px;
}
